
    <p>
        <%= comment.commenter %>
        <strong> - </strong>
        <%= comment.body %> - <%= link_to 'Ištrinti', [comment.article, comment], method: :delete, data: { confirm: "Ar tikrai norite ištrinti?"} %>
    </p>