<h1>Įrašai <strong><%= Article.public_count %></strong></h1>


<ul>
<% @articles.each do |article| %>
    <% unless article.archived? %>
        <li>
            <%= link_to article.title, article %>
        </li>
    <% end %>
<% end %>
</ul>

<hr>

<%= link_to "Naujas įrašas", new_article_path %>